{% extends "contenido/encabezado.html" %} {% block titulo %} Carrito
{%endblock%} {% block contenido%}
<style>
  .contenedor {
    width: 800px;
    margin: 0 auto;
  }
  .acomodo {
    position: absolute;
    margin-left: 410px;
    margin-top: 80px;
  }
</style>
<br />
<div class="bg-secondary mt-5 pt-3 pb-2">
  <div class="container">
    <h3 class="text-light fw-bold">Carrito</h3>
    <a href="#" class="text-light fs-6 text-decoration-none">Compras</a>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
{% if cursos%} 
  {% if carro%}
    {% for curso in cursos %}
    <div class="col-md-8">
      <div class="border col-xs-12 p-1">
        <div class="row">
          <div class="d-flex">
            <div class="col-xs-3 col-lg-2 p-2">
              {%load static%}
              <img
                src="{{curso.imagen.url}}"
                class="img-fluid"
                alt="imagen-carrito"
              />
            </div>
            <div class="col-xs-4 d-flex">
              <h5 class="fs-6 p-2">{{curso.titulo}}.</h5>
              <h5 class="text-success fs-6 p-2">Eliminar</h5>
              <h4 class="text-danger p-2">${{curso.precio}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-md-3 mt-2 pt-2">
      <h4 class="d-flex">Total:</h4>
      <h1 class="fw-bold d-flex">${{carro.total}}</h1>
      <div class="d-grid gap-2">
        <a class="btn btn-success fs-6" href="{%url 'pagar' carro.id%}" role="button"> Pagar </a>
      </div>
      {% else %}
    <!--Si no esta autenticado, puede registrarse -->
    <h4 class="text-danger text-center"> No tienes cursos en el Carrito. </h4>
  {% endif %}
  {% else %}
    <!--Si no esta autenticado, puede registrarse -->
    <h4 class="text-danger text-center"> No tienes cursos en el Carrito. </h4>
  {% endif %}        
    </div>
  </div>
</div>

{%endblock%}
