{% extends "contenido/encabezado.html" %} {% block titulo %} Mis cursos
{%endblock%} {% block contenido%}
<style>
  .card{
      top: 0%;
      left: 0%;
      transform: translateX(0px);
      transition: .8s all;
      cursor: pointer;
  }
  .card:hover {
     box-shadow: 1px 1px 3px 3px #5F4B8BFF;
     transform: translateY(10PX);
  }
  .contenedor {
    width: 1200px;
    margin: 0 auto;
  }
  .acomodo {
    position: absolute;
    margin-left: 410px;
    margin-top: 80px;
  }
</style>
<br />
<div class="bg-secondary mt-5 pb-2 pt-3">
  <div class="contenedor">
    <h3 class="text-light fw-bold mt-4">Mis cursos como profesor</h3>
    <a class="btn btn-primary fs-6" href="{% url 'registroCurso'%}" role="button">Registrar Curso Nuevo</a>
  </div>
</div>
<div class="contenedor mt-2 pt-2">
  <div class="row mt-5">
   <!-- Revisa si existe cursos, si existe entonces devuelve sus cursos-->  
  {% if cursos %}
    {% for curso in cursos %}
    <div class="col-md-3">
        
        <div class="card">
          <img
            src="{{curso.imagen.url}}"
            class="card-img-top img-fluid"
            alt="curso-1"
          /> 
          <div class="card-body">
            <h5 class="card-title">
                {{curso.titulo}}
            </h5>
            <p class="card-text">
               Categoria: {{curso.categoria}}
            </p>
            <p class="card-text">
              Profesor: {{curso.profesor}}
            </p>
            <p class="card-text">
              Descripcion: {{curso.descripcion}}
            </p>
            <p class="card-text">
                Duración del curso: {{curso.duracion}} Horas
            </p>
          
          <div>
            <a class="btn btn-primary fs-6" href="{%url 'editarCursosForm' curso.id%}" role="button">Editar Curso </a>
            <a class="btn btn-primary fs-6" href="{%url 'eliminarCursos' curso.id%}" role="button">Eliminar Curso</a>
          </div>
            
          </div>
        </div>
      </div>
       {% endfor %}
    {% else %}
    <!--Si no esta autenticado, puede registrarse -->
    <li> No tienes cursos registrados. </li>
  {% endif %}    
</div>
</div>

{%endblock%}
