{% extends "contenido/encabezado.html" %} 

{% block titulo %} Carrito {%endblock%} 

{% block contenido%}

<style>
    .contenedor{
        width: 800px;
    }
    .fa-star{
        color: rgb(226, 168, 43);
    }
</style>
<div class="container mt-5 pt-5">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">Desarrollo Web</li>
          <li class="breadcrumb-item" aria-current="page">Programación</li>
          <li class="breadcrumb-item" aria-current="page">Python</li>
        </ol>
    </nav>

    
    <div class="row">
      <div class="col-md-8">
      <h3> {{cursos.titulo}}</h3>
      <p>{{cursos.descripcion}}</p>
      <div>
        <h3>¿Qué incluye este curso?</h3>

        <div class="contenedor border border-dark p-4 shadow p-3 mb-5 bg-body rounded mt-5">
            <div class="row">
                <div class="col-md-6">
                    <ul>
                      {{cursos.lecciones}}
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                      
                            <li>Crear y Consumir EndPoint(RestAPI).</li>
                            <li>Elaborar completo sistema de compra y facturación en Django.</li>
                            <li>Deploy en Heroku.</li>
                        
                        
                    </ul>
                </div>
            </div>            
        </div>
    </div>

    </div>
      <div class="col-md-4">
        <div class="card border border-dark shadow mb-5 bg-body rounded" style="width: 20rem">
          {%load static%}
          <img src="{{cursos.imagen.url}}" class="card-img-top img-fluid" alt="curso-1" />  
          <div class="card-body">
            <h5 class="card-title d-flex ">
              Instructor: <p> {{cursos.profesor.nombre}} {{cursos.profesor.apellidos}}  </p>
            </h5>
            <h5 class="card-text">
              Online y a tu ritmo
            </h5>
            <h5 class="card-title d-flex ">
                Audio: <p>{{cursos.lenguaje}}</p>
            </h5>
            <h5 class="card-title d-flex ">
             Duracion de: {{cursos.duracion}} Horas.
            </h5>
            <h5 class="card-title d-flex ">
                Costo: <p class="text-danger">{{cursos.precio}}</p>
              </h5>
           
            <div class="d-grid gap-2 px-2 mt-2">
              <a class="btn btn-success fs-6" href="{%url 'registroClientesForm' cursos.id%}" role="button">Añadir al carrito </a>
                <button class="btn btn-danger">Comprar</button>
            </div>
            
          </div>
        </div>
      </div>
      
    </div>
</div>


{%endblock%}