{% extends "contenido/encabezado.html" %}

{% block titulo %} Login {%endblock%}

{% block contenido%}
    <style>
        img{
          width: 300px;
        }
        .without_ampm::-webkit-datetime-edit-ampm-field {
          display: none;
        }
        input[type=time]::-webkit-clear-button {
          -webkit-appearance: none;
          -moz-appearance: none;
          -o-appearance: none;
          -ms-appearance:none;
          appearance: none;
          margin: -10px; 
        }
    </style>
    <br>
    <br>
    <div class="container mt-5 pt-5">
        <div class="text-center">
            {%load static%}
        </div>
        <!-- Revisa si esta autenticado algun usuario-->
        {% if user.is_authenticated %}
         <!--Si esta autenticado, manda un mensaje de que ya inicio sesion -->
         
            <form method="POST" action="{% url 'registroCursoForm'%}"  role="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="border border-dark shadow p-5 mx-auto col-lg-6">
               
                <h1 class="text-center mb-4">Registre sus cursos.</h1>
                <div class="form-group mt-3">
                  <div class="col-sm-12 text-center">
                    <input type="file" id="imagen" name="imagen" class="form-control">
                    <div class="mt-3">
                      <h4>Imagen a subir</h4>
                      <div class="mt-3 img-fluid" id="preview"></div>
                    </div>
                  </div>
                </div> 
                <div class="form-group mt-3">
                  <div class="col-sm-12">
                    <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo del curso" >
                  </div>
                </div>  
                <div class="form-group mt-3">
                  <div class="col-sm-12">
                    <select name="categoria" class="form-control" id="categoria" placeholder="Categoria">
                      <option value="">Selecciona una opcion </option>
                      <option value="Desarrollo Web">Desarrollo Web</option>
                      <option value="Marketing">Marketing</option>
                      <option value="Programacion">Programacion</option>                                   
                  </select>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <div class="col-sm-12">
                    <input type="number" class="form-control" id="duracion" name="duracion" placeholder="Duracion en Horas">
                  </div>
                </div>
                <div class="form-group mt-3">
                  <div class="col-sm-12">
                      <input type="text" class="form-control" id="lenguaje" name="lenguaje" placeholder="lenguaje">
                  </div>
                </div>
                <div class="form-group mt-3">
                  <div class="col-sm-12">
                      <input type="hidden" class="form-control" id="profesor" name="profesor" value="{{profesor.id}}">
                  </div>
                </div>
                <div class="form-group mt-3">
                  <div class="col-sm-12">
                    <textarea type="text-area" class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion"></textarea>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <div class="col-sm-12">
                    <textarea type="text" class="form-control" id="lecciones" name="lecciones" placeholder="Lecciones"></textarea>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <div class="col-sm-12">
                    <input type="number" class="form-control" id="precio" name="precio" placeholder="Precio">
                  </div>
                </div>
                <div class="d-grid mt-4 mb-3">
                    <button type="submit" class="btn btn-primary fs-5">Registrarse</button>
                </div>
              </div>
            </form>
        {% else %}
         <!--Si no esta autenticado, puede registrarse -->
         <li> Esta pagina esta restringida para maestros unicamente. </li>
        
        {% endif %} 

       
    </div>
    <script>
      document.getElementById("imagen").onchange = function(e) {
        // Creamos el objeto de la clase FileReader
        let reader = new FileReader();
      
        // Leemos el archivo subido y se lo pasamos a nuestro fileReader
        reader.readAsDataURL(e.target.files[0]);
      
        // Le decimos que cuando este listo ejecute el código interno
        reader.onload = function(){
          let preview = document.getElementById('preview'),
                  image = document.createElement('img');
      
          image.src = reader.result;
      
          preview.innerHTML = '';
          preview.append(image);
        };
      }
    </script>
{%endblock%}
